
body{
   background-image: url(images/uj.webp);
   background-repeat: no-repeat;
   background-size: cover;
   
}
h1 {
    color:rgb(104, 0, 16);
    text-align:left;
}
p{
    font-size:larger;
}
nav {
    margin: 100;
    padding: 33 px;
    float: right;
}

nav a:hover{
    background-color:rgb(98, 104, 98);
}
a{
    color:rgb(125, 125, 133);
}
img{
    width: 415px;
    height: 415px
}
video{
    display: block;
    margin: auto;
}